name: Commit CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      IS_RUNNING_CI: "1"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git cmake libssl-dev libsasl2-dev libzstd-dev libspdlog-dev make g++

    - name: Run build script
      run: bash build_bash.sh

    - name: Run tests
      run: bash test_bash.sh